<div id="new-user-form-container">
  <form id="new-user-form" method='post' action="/users">
    <label>Username:</label>
    <input type='text' name="user[username]">
    <label>Password:</label>
    <input type='password' name="user[password]">
    <label>Email:</label>
    <input type='text' name="user[email]">
    <input type='submit' value="Create User">
  </form>
</div>
