 <div id="update-post-form-container">
   <form id="update-post-form"method='post' action="/posts/<%=@post.id%>">
    <input type='hidden' name="_method" value="put">
    <label>Title:</label>
    <input type='text' name="post[title]" value="<%=@post.title%>">
    <label>Content:</label>
    <input type='text' name="post[content]" value="<%=@post.content%>">
    <label>Url:</label>
    <input type='text' name="post[url]" value = "<%=@post.url%>">
    <input type='submit' value="Update Post">
  </form>
</div>
