<div id="new-post-form">
  <form method='post' action="/posts">
    <label>Title:</label>
    <input type='text' name="post[title]">
    <label>Content:</label>
    <input type='text' name="post[content]">
    <label>Url:</label>
    <input type='text' name="post[url]">
    <input type='submit' value="Publish Post">
  </form>
</div>
