<div id="login-form-container">
  <form id="login-form" method='post' action="/login">
    <label>Username:</label>
    <input type='text' name="username" autofocus>
    <label>Password:</label>
    <input type='password' name="password">
    <input type='submit' value="Login">
  </form>
</div>
